force-app/main/default/flows/Auto_Create_Patient_Checklist_Items_On_Patient_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_All</name>
        <label>Add to All</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AllChecklistItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChecklistItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Items_for_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Allocate_Values</name>
        <label>Allocate Values</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ChecklistItems.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Items_for_Creation.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChecklistItems.Related_Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_ID_Display_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_All</targetReference>
        </connector>
    </assignments>
    <description>Not is hardcoded to a system template, if template name is changed then possible issue retrieving items for creation.</description>
    <environments>Default</environments>
    <interviewLabel>Auto Create Patient Checklist Items On Patient Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Create Patient Checklist Items On Patient Creation</label>
    <loops>
        <name>Loop_Items_for_Creation</name>
        <label>Loop Items for Creation</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Allocate_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CHecklist_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CHecklist_Tasks</name>
        <label>Create CHecklist Tasks</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputReference>AllChecklistItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Items</name>
        <label>Get Items</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Items_for_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_System_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Template</name>
        <label>Get System Template</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient Registration Checklist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_System_Template</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllChecklistItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checklist__c</objectType>
    </variables>
    <variables>
        <name>ChecklistItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checklist__c</objectType>
    </variables>
</Flow>
