force-app/main/default/flows/Create_Transfer_Event_From_OPU_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_It_AN_OPU_Event</name>
        <label>Is It AN OPU Event?</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_OPU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OPU_Event.RecordTypeID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cycle__r.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Cycle_Type_Egg_Freeze.RecordTypeID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Transfers</targetReference>
            </connector>
            <label>Yes OPU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transfer_Found</name>
        <label>Transfer Found?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Get_Calendar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Transfers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Transfer</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateandTimeofTransfer</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!$Record.Event_Date_Only__c} + 5) + &quot; 03:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>EventName</name>
        <dataType>String</dataType>
        <expression>&quot;Tentative Transfer - &quot;&amp;{!$Record.Cycle__r.Patient__r.LastName}</expression>
    </formulas>
    <interviewLabel>Create Transfer Event From OPU Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Transfer Event From OPU Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Transfer</name>
        <label>Create Transfer</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Calendar.Calendar_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Type__c</field>
            <value>
                <stringValue>Transfer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Prcoedure_Record_ID.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>DateandTimeofTransfer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EventName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tentative__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Cycle__r.Patient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Calendar</name>
        <label>Get Calendar</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Prcoedure_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transfers__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendar_Linkage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Transfers</name>
        <label>Get Existing Transfers</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Procedure_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transfer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Transfer</name>
        <label>Update Transfer</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Transfers.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>DateandTimeofTransfer</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OPU_Event</targetReference>
        </connector>
        <object>Cycle_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Cycle_Type_Egg_Freeze</name>
        <label>Get Cycle Type (Egg Freeze)</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_It_AN_OPU_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Egg Freeze Cycle</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_OPU_Event</name>
        <label>Get OPU Event</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Cycle_Type_Egg_Freeze</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>OPU Event</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Prcoedure_Record_ID</name>
        <label>Get Prcoedure Record ID</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Create_Transfer</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Procedure</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
