force-app/main/default/flows/Developer_Data_Management_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Test_Doc_Gen</name>
        <label>Test Doc Gen</label>
        <locationX>1068</locationX>
        <locationY>492</locationY>
        <actionName>docb__TSDocuments</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>a1UGC00000EMhmZ2AT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>a02GC00002aJSbgYAG</stringValue>
            </value>
        </inputParameters>
        <nameSegment>docb__TSDocuments</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_TO_All</name>
        <label>Add TO All</label>
        <locationX>920</locationX>
        <locationY>957</locationY>
        <assignmentItems>
            <assignToReference>AllTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Linked_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CLI</name>
        <label>Assign CLI</label>
        <locationX>1170</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>CLIVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CFI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CLI_New_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CLI_New_Values</name>
        <label>Assign CLI New Values</label>
        <locationX>1176</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>CLIVar.Referral_Expiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CFI.Linked_Referral__r.Referral_Expiry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All_CLFVar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Embryo_Fate</name>
        <label>Assign Embryo Fate</label>
        <locationX>210</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>EmbryoCycleEventVar.Cycle_Day_Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_Allocate_Fate.Static_Fate_Event__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoCycleEventVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_Allocate_Fate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Var</name>
        <label>Assign Task Var</label>
        <locationX>1051</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>TaskVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Linked_Patient.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.Linked_Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Linked_Patient.WhoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_TO_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All</name>
        <label>Assign to All</label>
        <locationX>237</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>AllEmbryoCycleEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmbryoCycleEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_Allocate_Fate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_CLFVar</name>
        <label>Assign to All</label>
        <locationX>1039</locationX>
        <locationY>181</locationY>
        <assignmentItems>
            <assignToReference>AllCLIVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CLIVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CFIs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_ANZARD</name>
        <label>Found ANZARD</label>
        <locationX>665</locationX>
        <locationY>991</locationY>
        <defaultConnector>
            <targetReference>Get_Semen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Anzard_Loop</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <description>Allows developers to mass update and delete records.</description>
    <environments>Default</environments>
    <formulas>
        <name>Site</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!Get_Semen.Sample_Production_Method__c}),1)</expression>
    </formulas>
    <formulas>
        <name>SPQUAL</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Get_Semen.Prep_Count_x10_6__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Developer Data Management Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Data Management Flow</label>
    <loops>
        <name>Create_Anzard_Loop</name>
        <label>Create Anzard Loop</label>
        <locationX>673</locationX>
        <locationY>734</locationY>
        <collectionReference>Get_All_Day_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Existing</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_and_Allocate_Fate</name>
        <label>Loop and Allocate Fate</label>
        <locationX>369</locationX>
        <locationY>413</locationY>
        <collectionReference>Get_All_Embryo_Cycle_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Embryo_Fate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Embryo_Fates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_CFIs</name>
        <label>Loop CFIs</label>
        <locationX>908</locationX>
        <locationY>299</locationY>
        <collectionReference>Get_All_Cycle_Claim_Finance_Itmes_13209</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_CFI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CLF</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Linked_Patient</name>
        <label>Update Linked Patient</label>
        <locationX>1053</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Tasks1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ANZARD_Record</name>
        <label>Create ANZARD Record</label>
        <locationX>551</locationX>
        <locationY>1145</locationY>
        <connector>
            <targetReference>Create_Anzard_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>CYCLE_ID__c</field>
            <value>
                <elementReference>Create_Anzard_Loop.Cycle__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SP_QUAL__c</field>
            <value>
                <elementReference>SPQUAL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SP_SITE__c</field>
            <value>
                <elementReference>Site</elementReference>
            </value>
        </inputAssignments>
        <object>ANZARD_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delet_imports</name>
        <label>Delet imports</label>
        <locationX>153</locationX>
        <locationY>591</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Imported_Patients__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Opportunities</name>
        <label>Delete Opportunities</label>
        <locationX>286</locationX>
        <locationY>704</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Cycle_Claim_Finance_Itmes_13209</name>
        <label>Get All Cycle Claim Finance Itmes 13209</label>
        <locationX>766</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CFIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>13209</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2024-08-19T14:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Claim_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Day_1</name>
        <label>Get All Day 1</label>
        <locationX>674</locationX>
        <locationY>593</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Anzard_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Day 1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Embryo_Cycle_Events</name>
        <label>Get All Embryo Cycle Events</label>
        <locationX>526</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_and_Allocate_Fate</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo_Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CFI</name>
        <label>Get CFI</label>
        <locationX>1033</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_CFIs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing</name>
        <label>Get Existing</label>
        <locationX>797</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_ANZARD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CYCLE_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Anzard_Loop.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ANZARD_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Semen</name>
        <label>Get Semen</label>
        <locationX>676</locationX>
        <locationY>1135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ANZARD_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Created_In_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Anzard_Loop.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Semen_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>1042</locationX>
        <locationY>619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Linked_Patient</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_Tasks</name>
        <label>Update all Tasks</label>
        <locationX>317</locationX>
        <locationY>894</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_File_Warning__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Patient_File_Warning__c</field>
            <value>
                <stringValue>Value 1</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_Tasks1</name>
        <label>Update All Tasks</label>
        <locationX>1184</locationX>
        <locationY>809</locationY>
        <inputReference>AllTasks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CLF</name>
        <label>Update CLF</label>
        <locationX>919</locationX>
        <locationY>453</locationY>
        <inputReference>AllCLIVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Embryo_Fates</name>
        <label>Update Embryo Fates</label>
        <locationX>379</locationX>
        <locationY>217</locationY>
        <inputReference>AllEmbryoCycleEvents</inputReference>
    </recordUpdates>
    <start>
        <locationX>592</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Cycle_Claim_Finance_Itmes_13209</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllCLIVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Medicare_Items__c</objectType>
    </variables>
    <variables>
        <name>AllEmbryoCycleEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>AllTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>CLIVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Medicare_Items__c</objectType>
    </variables>
    <variables>
        <name>EmbryoCycleEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>TaskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
