force-app/main/default/flows/Developer_Medipass_003_PHI_Invoice_Claim_SDK_Creation_Action_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>assign_claim_item_Vars</name>
        <label>assign_claim_item_Vars</label>
        <locationX>402</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>medicare_claimItems_price_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Invoice_Line_items.Total_Line_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Invoice_Line_items.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_itemCode_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Invoice_Line_items.Medicare_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claimItems_serviceDate_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_invoice.Invoice_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_collection_size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Icons</name>
        <label>assign_Icons</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:job_profile</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:connected_apps</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:job_profile</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Payment_Method_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_json_2</name>
        <label>assign_json_2</label>
        <locationX>534</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>invoice_line_items_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_comma_seperator_json_claimable_item_text_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Invoice_Line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Vars</name>
        <label>Assign_Patient_Vars</label>
        <locationX>182</locationX>
        <locationY>2882</locationY>
        <assignmentItems>
            <assignToReference>patient_firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_invoice.Patient_Donor__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patient_lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_invoice.Patient_Donor__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patient_refId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_invoice.Patient_Donor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patient_Mobile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_invoice.Patient_Donor__r.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patient_dobString_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_invoice.Patient_Donor__r.Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>providerNumber_M</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_invoice.Cycle__r.Doctor_Initiating_Cycle__r.Provider_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicare_claim_reference_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_invoice.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patient_healthFundCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_invoice.Patient_Donor__r.Insuring_Health_Fund_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_payload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_payload</name>
        <label>assign_payload</label>
        <locationX>182</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>sdk_payload</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBody_Template_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Medipass_SDK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_payment_method_01</name>
        <label>assign_payment_method_01</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>paymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>terminal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_payment_method_rebate</name>
        <label>assign_payment_method_rebate</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>paymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_check_rebate_estimate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_rebate_value</name>
        <label>assign_rebate_value</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>isEstimatePHI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_payment_method_rebate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_12</name>
        <label>assign_json_1</label>
        <locationX>270</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>invoice_line_items_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>json_bulkbill_claimitem_json</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Invoice_Line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_payment_method_01</name>
        <label>Copy 1 of assign_payment_method_01</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>paymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>payment-link</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Invoice_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_assign_payment_method_01</name>
        <label>Copy 2 of assign_payment_method_01</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>paymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isNewPaymentCard_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_assign_rebate_value</name>
        <label>Copy 2 of assign_rebate_value</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>isEstimatePHI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Method_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_collection_size</name>
        <label>check_collection_size</label>
        <locationX>402</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>assign_json_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notEmpty</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Invoice_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_12</targetReference>
            </connector>
            <label>isEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_rebate_estimate_01</name>
        <label>check_rebate_estimate</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_check_rebate_estimate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Rebate_Estimate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Payment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rebate Estimate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_rebate_value</targetReference>
            </connector>
            <label>is_Rebate_Estimate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_check_rebate_estimate</name>
        <label>Copy 2 of check_rebate_estimate</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>isTerminal_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_check_Rebate_Estimate_02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Payment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issue Invoice &amp; Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_assign_rebate_value</targetReference>
            </connector>
            <label>not_Rebate_Estimate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>isMobile_Check</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>isNewPaymentCard_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_assign_payment_method_01</targetReference>
            </connector>
            <label>isMobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNewPaymentCard_Check</name>
        <label>isNewPaymentCard_Check</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>get_Invoice_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNewPaymentCard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>URL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_assign_payment_method_01</targetReference>
            </connector>
            <label>isNewPaymentCard</label>
        </rules>
    </decisions>
    <decisions>
        <name>isTerminal_Check</name>
        <label>isTerminal_Check</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Decision_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_payment_method_01</targetReference>
            </connector>
            <label>isTerminal</label>
        </rules>
    </decisions>
    <formulas>
        <name>formatted_medicare_claimItems_price_M</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!medicare_claimItems_price_M}, &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formatted_service_date_formula</name>
        <dataType>String</dataType>
        <expression>TEXT(DATE( VALUE(RIGHT({!medicare_claimItems_serviceDate_M}, 4)), CASE(LEFT({!medicare_claimItems_serviceDate_M}, FIND(&quot; &quot;, {!medicare_claimItems_serviceDate_M}) - 1), &quot;January&quot;, 1, &quot;February&quot;, 2, &quot;March&quot;, 3, &quot;April&quot;, 4, &quot;May&quot;, 5, &quot;June&quot;, 6, &quot;July&quot;, 7, &quot;August&quot;, 8, &quot;September&quot;, 9, &quot;October&quot;, 10, &quot;November&quot;, 11, &quot;December&quot;, 12, 1 ), VALUE(MID({!medicare_claimItems_serviceDate_M}, FIND(&quot; &quot;, {!medicare_claimItems_serviceDate_M}) + 1, FIND(&quot;,&quot;, {!medicare_claimItems_serviceDate_M}) - FIND(&quot; &quot;, {!medicare_claimItems_serviceDate_M}) - 1)) ))</expression>
    </formulas>
    <formulas>
        <name>patient_dobFormatted_M</name>
        <dataType>String</dataType>
        <expression>TEXT(DATE(
    VALUE(RIGHT({!patient_dobString_M}, 4)),
    CASE(LEFT({!patient_dobString_M}, FIND(&quot; &quot;, {!patient_dobString_M}) - 1),
        &quot;January&quot;, 1,
        &quot;February&quot;, 2,
        &quot;March&quot;, 3,
        &quot;April&quot;, 4,
        &quot;May&quot;, 5,
        &quot;June&quot;, 6,
        &quot;July&quot;, 7,
        &quot;August&quot;, 8,
        &quot;September&quot;, 9,
        &quot;October&quot;, 10,
        &quot;November&quot;, 11,
        &quot;December&quot;, 12,
        1
    ),
    VALUE(MID({!patient_dobString_M}, FIND(&quot; &quot;, {!patient_dobString_M}) + 1, FIND(&quot;,&quot;, {!patient_dobString_M}) - FIND(&quot; &quot;, {!patient_dobString_M}) - 1))
))</expression>
    </formulas>
    <interviewLabel>Developer Medipass [003_PHI_Invoice_Claim_SDK_Creation]_[Action_Screen] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Medipass [003_PHI_Invoice_Claim_SDK_Creation]_[Action_Screen]</label>
    <loops>
        <name>Loop_Invoice_Line_items</name>
        <label>Loop_Invoice_Line_items</label>
        <locationX>182</locationX>
        <locationY>2282</locationY>
        <collectionReference>get_Invoice_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_claim_item_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Patient_Vars</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_invoice</name>
        <label>get_invoice</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Icons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Invoice_Items</name>
        <label>get_Invoice_Items</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Invoice_Line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Payment_Method_Decision</name>
        <label>Copy 1 of Payment_Method_Decision</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_rebate_estimate_01</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Payment_Choice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>varIcons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Rebate Estimate&quot;,&quot;value&quot;:&quot;PHI Claim Rebate Estimate&quot;},{&quot;label&quot;:&quot;Issue Invoice &amp; Claim&quot;,&quot;value&quot;:&quot;PHI Invoice &amp; Claim&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Medipass_SDK</name>
        <label>Medipass_SDK</label>
        <locationX>182</locationX>
        <locationY>3098</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Medipass_Interaction</name>
            <extensionName>c:medipassInteractionLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>payloadString</name>
                <value>
                    <elementReference>sdk_payload</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Method_Decision</name>
        <label>Payment_Method_Decision</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>isTerminal_Check</targetReference>
        </connector>
        <fields>
            <name>Payment_Choice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>varIcons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Terminal&quot;,&quot;value&quot;:&quot;Tyro EFTPOS&quot;},{&quot;label&quot;:&quot;URL&quot;,&quot;value&quot;:&quot;URL for Payment Request&quot;},{&quot;label&quot;:&quot;Mobile&quot;,&quot;value&quot;:&quot;SMS Payment Request to Patient&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_invoice</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Assign_comma_seperator_json_claimable_item_text_template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;serviceDateString&quot;: &quot;{!formatted_service_date_formula}&quot;,
  &quot;itemCode&quot;: &quot;{!medicare_claimItems_itemCode_M}&quot;,
  &quot;reference&quot;: &quot;{!medicare_claimItems_reference_O}&quot;,
  &quot;price&quot;: &quot;{!formatted_medicare_claimItems_price_M}&quot;
}</text>
    </textTemplates>
    <textTemplates>
        <name>json_bulkbill_claimitem_json</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
    &quot;serviceDateString&quot;: &quot;{!formatted_service_date_formula}&quot;,
    &quot;itemCode&quot;: &quot;{!medicare_claimItems_itemCode_M}&quot;,
    &quot;reference&quot;: &quot;{!medicare_claimItems_reference_O}&quot;,
    &quot;price&quot;: &quot;{!formatted_medicare_claimItems_price_M}&quot;
  }</text>
    </textTemplates>
    <textTemplates>
        <name>varBody_Template_Invoice</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
    &quot;platform&quot;: &quot;funder&quot;,
    &quot;funder&quot;: &quot;phi&quot;,
    &quot;funderData&quot;: {
        &quot;phi&quot;: {
            &quot;isRebateEstimate&quot;: &quot;{!isEstimatePHI}&quot;
        }
    },
    &quot;paymentMethod&quot;: &quot;{!paymentMethod}&quot;,
    &quot;chargeAmount&quot;: &quot;{!medicare_claimItems_price_M}&quot;,
    &quot;providerNumber&quot;: &quot;{!providerNumber_M}&quot;,
    &quot;invoiceReference&quot;: &quot;{!medicare_claim_reference_O}&quot;,
    &quot;patient&quot;: {
        &quot;firstName&quot;: &quot;{!patient_firstName}&quot;,
        &quot;lastName&quot;: &quot;{!patient_lastName}&quot;,
        &quot;dob&quot;: &quot;{!patient_dobFormatted_M}&quot;,
        &quot;mobile&quot;: &quot;{!patient_Mobile}&quot;,
        &quot;healthFundCode&quot;: &quot;{!patient_healthFundCode}&quot;,
        &quot;refId&quot;: &quot;{!patient_refId}&quot;
    },
    &quot;claimableItems&quot;: {!invoice_line_items_collection}
}</text>
    </textTemplates>
    <variables>
        <name>api_response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>api_response_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoice_line_items_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isEstimatePHI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claim_reference_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_itemCode_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_price_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_reference_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicare_claimItems_serviceDate_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_dobString_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_healthFundCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_Mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_refId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>providerNumber_M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sdk_or_api</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sdk_payload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
