force-app/main/default/flows/Set_Dynamic_Fate_on_Embryo_Cycle_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Devs</name>
        <label>Send Email to Devs</label>
        <locationX>528</locationX>
        <locationY>1163</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>development@pariosolutions.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Issue with Embryo Cycle Event Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Count_of_Found</name>
        <label>Count of Found</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CountofEmbryoEvents</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Embryo_Event_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_Found</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Single_Embryo_Event_Record</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Get Single Embryo Event Record</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Embryo_Event_Records</collectionReference>
        <connector>
            <targetReference>Loop_Collection</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <customErrors>
        <name>Issue_With_Embryo</name>
        <label>Issue With Embryo</label>
        <locationX>528</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Send_Email_to_Devs</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>There has been an issue with this embryo update. Please note that this embryo is active in multiple cycles, You should confirm that the correct event has been updated.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Number_Found</name>
        <label>Number Found</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Single_Embryo_Event_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofEmbryoEvents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>None Found</label>
        </rules>
        <rules>
            <name>One_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofEmbryoEvents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Embryos</targetReference>
            </connector>
            <label>One Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Set Dynamic Fate on Embryo Cycle Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Dynamic Fate on Embryo Cycle Events</label>
    <loops>
        <name>Loop_Collection</name>
        <label>Loop Collection</label>
        <locationX>528</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Embryo_Event_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Update_Fate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Issue_With_Embryo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Embryos</name>
        <label>Loop Embryos</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Embryo_Event_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Fate</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Embryo_Event_Records</name>
        <label>Get Embryo Event Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Embryo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo_Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Fate</name>
        <label>Copy 1 of Update Fate</label>
        <locationX>616</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Loop_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Collection.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Day_Fate__c</field>
            <value>
                <elementReference>$Record.Fate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Embryo_Cycle_Event__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fate</name>
        <label>Update Fate</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Embryos.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Day_Fate__c</field>
            <value>
                <elementReference>$Record.Fate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Embryo_Cycle_Event__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Embryo_Event_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Embryos__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>There was an issue with an embryo update {!$Record.Name} &amp; {!$Record.Id}. Please figure out what has gone wrong.</text>
    </textTemplates>
    <variables>
        <name>CountofEmbryoEvents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
