force-app/main/default/flows/Update_Invoice_Line_Items_for_Service_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_to_All_Line_Items</name>
        <label>Assign to All Line Items</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AllIineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Link_Dates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Linked_Medicare_Items</name>
        <label>Linked Medicare Items?</label>
        <locationX>396</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Loop_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Line_Items.Medicare_Item_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Claim_Line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>After a claim is finalised it will add the service date to the invoice line item. It requires the line item to have a linked Medicare number for it to work.</description>
    <environments>Default</environments>
    <interviewLabel>Update Invoice Line Items for Service Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Invoice Line Items for Service Date</label>
    <loops>
        <name>Loop_Line_Items</name>
        <label>Loop Line Items</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <collectionReference>AllIineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Linked_Medicare_Items</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_to_Link_Dates</name>
        <label>Loop to Link Dates</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Invoices_on_Cycle</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Claim_Line</name>
        <label>Get Claim Line</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Line_Items.Medicare_Item_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoices_on_Cycle</name>
        <label>Get Invoices on Cycle</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_Link_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Line_Items</name>
        <label>Get Line Items</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_All_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_to_Link_Dates.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Line_Item</name>
        <label>Update Line Item</label>
        <locationX>264</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Loop_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Line_Items.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Date__c</field>
            <value>
                <elementReference>Get_Claim_Line.Date_of_Service__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Line_Item__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoices_on_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Finalised_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Claim__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllIineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
</Flow>
